<!--
=========================================================
Primary Button

Uso:
Navbar
Hero
CTA
Pricing

Classes:
.btn
.btn-primary
=========================================================
-->

<!-- ===================================================== -->
<!-- Primary Buttons -->
<!-- ===================================================== -->


<button class="btn btn-primary">
    Criar conta
</button>

<button class="btn btn-primary">
    <svg></svg>

    Criar conta
</button>

<button class="btn btn-primary" disabled>
    Criar conta
</button>

<button class="btn btn-primary" disabled>

    <span class="loader"></span>

    Carregando...

</button>


<!-- ===================================================== -->
<!-- Secondary Buttons -->
<!-- ===================================================== -->

<button class="btn btn-secondary">
    Entrar
</button>

<button class="btn btn-secondary">
    <svg></svg>
    Entrar
</button>

<button class="btn btn-secondary" disabled>
    Entrar
</button>

<!-- ===================================================== -->
<!-- Outline Buttons -->
<!-- ===================================================== -->

<button class="btn btn-outline">
    Saiba mais
</button>

<button class="btn btn-outline">
    Ver demonstração
</button>

